html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: #ddd;
}

body, main, aside, footer {
  margin-top: 50px;
}

p {
  font-family: 'Merriweather', serif;
}

.welcome {
  padding: 200px;
  background: url("https://unsplash.it/g/1200/600/?image=6") center center no-repeat fixed;
  background-size: cover;
}

.upAndDown {
  transition: color 0.3s linear;
}

.upAndDown:hover {
  color: #D38947;
}

.arrow-down a {
  color: #095057;
}

.arrow-down a:hover {
  transition: color 0.3s linear;
  color: #D38947;
}


main {
  background-color: #ddd;
}

main h2 {
  padding: 30px 0;
  color: #D38947;
  position: relative;
  text-align: center;
}

main h2 span {
  background: #ddd;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

main h2:before {
  background: #D38947;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

h2:before {
  left: 0;
}


aside {
  background-color: #D38947;
  padding: 200px 0 200px 0;
}

aside h3 {
  display: inline-block;
}
