@import url('https://fonts.googleapis.com/css?family=Roboto:700');
html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: #ddd;
}

body, main, aside, footer {
  margin-top: 50px;
}

p {
  font-family: 'Merriweather', serif;
}
.container {
  text-align: center;
  display: grid;
  grid-template-columns: 10fr;
  grid-template-rows: 0.05fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Homebar"
    "Main-page"
}

.Homebar {
  align-self:flex-start;
  justify-self: center;
  grid-area: Homebar;
}

.Main-page { grid-area: Main-page; }
.container2 {  display: grid;
  grid-template-columns: 100f;
  grid-template-rows: 0.5fr 1.5fr 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Q1"
    "A1"
    "Q2"
    "A2";
}

.Q1 { grid-area: Q1; justify-content:center; align-self: center;}

.A1 { grid-area: A1; justify-content:center; align-self: center;}

.Q2 { grid-area: Q2; justify-content:center; align-self: center;}

.A2 { grid-area: A2; justify-content:center; align-self: center;}


.welcome {
  padding: 200px;
  background: url("https://images.unsplash.com/photo-1582056615449-5dcb2332b3b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") center center no-repeat fixed;
  background-size: cover;
}

.upAndDown {
  transition: color 0.3s linear;
}

.upAndDown:hover {
  color: #D38947;
}

.arrow-down a {
  color: #095057;
}

.arrow-down a:hover {
  transition: color 0.3s linear;
  color: #D38947;
}


main {
  background-color: #ddd;
}

main h2 {
  padding: 30px 0;
  color: #D38947;
  position: relative;
  text-align: center;
}

main h2 span {
  background: #ddd;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

main h2:before {
  background: #D38947;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

h2:before {
  left: 0;
}


aside {
  background-color: #D38947;
  padding: 200px 0 200px 0;
}

aside h3 {
  display: inline-block;
}
#container2 {
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;
  position:fixed;
  width:100%;
  bottom:45%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}
